<h1>Mars Rover Project</h1>
<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" required />
    <input type="submit" value="UploadFile" />
</form>
